@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

header {
    background-color: #007bff;
    color: white;
    padding: 20px 0;
    text-align: center;
    scroll-snap-align: start;
}

nav a {
    color: white;
    padding: 0 20px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

section {
    margin: 30px auto;
    padding: 20px;
    max-width: 800px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    scroll-snap-align: start;
}

section h2, h3 {
    color: #007bff;
}

section h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

section ul {
    list-style-type: none;
    padding: 0;
}

section ul li {
    margin-bottom: 10px;
}

section a {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

section a:hover {
    background-color: #0056b3;
}

.project {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    max-width: 1200px; /* Limit the width of the project container */
}

.project img {
    width: 100%;
    max-width: 400px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project-details {
    flex: 1;
    padding: 0 15px;
    max-width: 700px; /* Set a max width for the text container */
}

.project-details h3 {
    margin-top: 0;
}

.project-details p {
    margin-bottom: 10px;
}

.project-details a {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.project-details a:hover {
    background-color: #0056b3;
}

@media screen and (max-width: 768px) {
    .project {
        flex-direction: column;
        align-items: flex-start;
    }

    .project img {
        width: 100%;
        max-width: none;
        margin-right: 0;
    }

    .project-details {
        overflow: hidden;
        max-width: 100%;
    }
}
